@charset "UTF-8";
@font-face {
  font-family: 'mouse-300';
  src: url("../fonts/PT_Sans-Web-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'mouse-500';
  src: url("../fonts/PT_Sans-Web-Bold.ttf") format("truetype");
}

/*Mixin có thể hiểu nó như là một directive dùng để gom nhóm CSS lại với nhau, có thể truyền tham số*/
